<div class="card text-center">
  <div class="card-header">
    Post by User:
    {{username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{body}}</p>
    <a href="#" id="add-comment" class="btn btn-primary">Add a comment</a>
    <p id="comment-box">{{comments}}</p>
  </div>
  <div class="card-footer text-muted">
    Created on
    {{date}}
  </div>
</div>